<header class="jumbotron">
    <div class="container">
        <h1>Welcome to Yelpcamp!</h1>
        <p>View our hand-picked campgrounds from all over the world!</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/products/new">Add new campground</a>
        </p>
    </div>
</header>


<div class="row text-center" style="display:flex; flex-wrap:wrap;">
  <p>insert products here!</p>
</div>